$bg-color: white;
$bg-color-d: black;
$bg-color-g: #cecece;
$bg-light: rgb(164, 169, 170);
$color-y: yellow;
$color-r: red;
$color-w: white;
$color-b: black;
$exo2: 'Exo 2', sans-serif;
$roboto: 'Roboto', sans-serif;
