@import url("https://fonts.googleapis.com/css?family=Exo+2:400,400i,700,700i|Roboto:400,400i,700,700i");
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 10px; }

body {
  color: #fff;
  margin: 0;
  padding: 0;
  background-color: black; }

a {
  text-decoration: none;
  color: #fff; }

ul {
  list-style: none; }

.header {
  font-family: "Exo 2", sans-serif;
  background-image: url(../img/h-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1920px;
  width: 100%;
  min-height: 1000px; }
  .header-logo {
    max-width: 350px;
    width: 100%;
    height: 100px;
    color: white;
    margin: 0 auto;
    padding-top: 30px; }
    .header-logo a p {
      text-align: center;
      font-size: 5em;
      letter-spacing: 10px;
      line-height: 1.2em;
      color: #fff;
      transition: .5s ease; }
      .header-logo a p:hover {
        letter-spacing: 11px;
        color: yellow; }
    .header-logo a small {
      font-size: 1.6em;
      padding-left: 180px;
      line-height: 1.1em;
      color: red; }
  .header-menu {
    max-width: 1300px;
    width: 100%;
    margin: auto;
    padding-top: 50px; }
    .header-menu .menu-link {
      display: none;
      width: 60px;
      height: 60px;
      position: fixed;
      top: 20%;
      right: 0;
      z-index: 99;
      cursor: pointer; }
      .header-menu .menu-link img {
        width: 100px; }
    .header-menu .menu {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      .header-menu .menu li a {
        display: block;
        font-size: 2.7em; }
  .header .heading {
    max-width: 1920px;
    width: 100%;
    height: auto;
    padding-top: 50px; }
    .header .heading_title {
      font-family: "Exo 2", sans-serif;
      text-align: center;
      padding-top: 50px; }
      .header .heading_title span {
        text-transform: uppercase;
        color: #fff;
        font-size: 5em; }

h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 5em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px; }

.skills {
  min-height: 500px;
  font-family: "Roboto", sans-serif;
  border-top: 2px solid #fff; }
  .skills__blocks {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 100%;
    margin: auto;
    padding-top: 30px; }
    .skills__blocks .block h2 {
      font-size: 4em;
      text-align: center;
      text-transform: uppercase;
      padding: 20px; }
    .skills__blocks .block .circle {
      position: relative;
      max-width: 200px;
      margin: 0 auto; }
      .skills__blocks .block .circle strong {
        position: absolute;
        top: 40%;
        left: 30%;
        font-size: 4em; }
        .skills__blocks .block .circle strong i {
          font-size: .8em; }

.spells {
  min-height: 500px;
  font-family: "Roboto", sans-serif;
  border-top: 2px dashed #fff; }
  .spells .flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    max-width: 1920px;
    min-height: 300px;
    background-color: #fff; }
    .spells .flex__item {
      max-width: 200px;
      width: 100%;
      text-align: center;
      align-self: baseline;
      margin-bottom: 30px; }
      .spells .flex__item img {
        width: 200px;
        padding: 10px; }
      .spells .flex__item .progress-number {
        color: grey;
        font-size: 2em;
        padding: 10px; }      
.work {
  max-width: 1920px;
  width: 100%;
  height: auto; }
  .work-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto; }
    .work-flex__item {
      margin: 10px; }
      .work-flex__item a {
        position: relative;
        display: block; }
        .work-flex__item a .site-img {
          display: block;
          max-width: 400px;
          height: 300px; }
        .work-flex__item a .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          display: none;
          transform: translate(-50%, -50%);
          width: 64px;
          height: 64px;
          opacity: 0; }
          .work-flex__item a .icon img {
            width: 64px;
            height: 64px; }
        .work-flex__item a:hover .icon {
          display: block;
          opacity: 1;
          transition: opacity 1s ease; }
        .work-flex__item a:hover .site-img {
          opacity: .5;
          transition: opacity .5s ease; }

.contacts {
  display: flex;
  min-height: 150px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
  margin: auto; }
  .contacts a {
    display: block;
    width: 40px;
    height: 40px; }
    .contacts a i {
      font-size: 4em; }
    .contacts a:hover:first-child {
      color: #4a76a8; }
    .contacts a:hover:nth-child(2) {
      color: dimgrey; }
    .contacts a:hover:nth-child(3) {
      color: #c1c1c1; }
    .contacts a:hover:nth-child(4) {
      color: #1da1f2; }

.copyright {
  width: 200px;
  margin: 0 auto;
  font-size: 2em;
  font-family: "Exo 2", sans-serif;
  text-align: center;
  padding: 15px; }
  .copyright a:hover {
    color: red; }

/*# sourceMappingURL=style.css.map */
