@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Exo+2:400,400i,700,700i|Roboto:400,400i,700,700i');
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
    box-sizing: border-box;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    
    font-size: 10px;
}
body {
    
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: $bg-color-d;
}
a {text-decoration: none; color: #fff;}
ul {list-style: none;}

.header {    
    font-family: $exo2;
    background-image: url(../img/h-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    width: 100%;
    min-height: 1000px;
    &-logo {
        max-width: 350px;
        width: 100%;
        height: 100px;
        color: $bg-color;        
        margin: 0 auto;   
        padding-top: 30px;
        a {
            p {
                text-align: center;
                font-size: 5em;
                letter-spacing: 10px;   
                line-height: 1.2em;
                color: #fff;
                transition: .5s ease;
                &:hover {
                    letter-spacing: 11px;
                    color: $color-y;
                }
            }
            small {        
                font-size: 1.6em;
                padding-left: 180px;
                line-height: 1.1em;
                color: $color-r;
            }
        }    
    }//logo
    
    &-menu {
        max-width: 1300px;
        width: 100%;
        margin: auto;
        padding-top: 50px;
        //btn
        .menu-link {
            display: none;
            width: 60px;
            height: 60px;
            position: fixed;
            top: 20%; right: 0;
            z-index: 99;
            cursor: pointer;
            img {
                width: 100px;
            }
        }

        //btn
        
        .menu {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            
            
            li {
            
                a {
                    display: block;
                    font-size: 2.7em;
                    
                }
            }
            
        }
        
        
    }//menu
    
        .heading {
            max-width: 1920px;
            width: 100%;
            height: auto;
            padding-top: 50px;

        &_title {
            font-family: $exo2;
            text-align: center;
            padding-top: 50px;
            span {
                text-transform: uppercase;
                color: #fff;
                font-size: 5em;
            }
        }
    
    }//heading
}//header
h1 {
    font-family: $exo2;
    font-size: 5em;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.skills {
    min-height: 500px;
    font-family: $roboto;
    border-top: 2px solid #fff;
    
    
    &__blocks {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 1400px;
        width: 100%;
        margin: auto;
        padding-top: 30px;
        
        .block {
            h2 {
                font-size: 4em;
                text-align: center;
                text-transform: uppercase;
                padding: 20px;            
            }        
            .circle {
                position: relative;
                max-width: 200px;
                margin: 0 auto;
                strong {
                    position: absolute;
                    top: 40%;
                    left: 30%;
                    font-size: 4em;
                    i {
                        font-size: .8em;
                    }
                }
            }
        }        
    }//block
}//skills
//.shadow {
//    text-shadow: 0 -2px 5px #fff;
//}
.spells {
    min-height: 600px;
    font-family: $roboto;    
    border-top: 2px dashed #fff;    
    .flex {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        margin: auto;
        max-width: 1920px;
        min-height: 450px;
        background-color: #fff;        
        &__item {
            max-width: 200px;
            width: 100%;
            text-align: center;
            align-self: baseline;
            margin-bottom: 30px;
            
            img {
                width: 200px;
                padding: 10px; 
            }
            .progress {
                
                &-number {
                    color: grey;
                    font-size: 2em;
                    padding: 10px;
                }
//               
                
            }//progress
        }//item        
    }//flex    
}//spells
//work
.work {
    max-width: 1920px;
    width: 100%;
    height: auto;
    &-flex {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
        
        &__item {
            margin: 10px;
            a {
                position: relative;
                display: block;    
                
                .site-img {
                    display: block;
                    max-width: 400px;
                    height: 300px;
                    
                    
                }
                .icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: none;
                    transform: translate(-50%, -50%);                    
                    width: 64px;
                    height: 64px;                    
                    opacity: 0;
                    
                    
                    
                    
                    img {
                        width: 64px;
                        height: 64px;
                        
                    }
                    
                }
                &:hover .icon{
                    display: block;
                    opacity: 1;
                    transition: opacity 1s ease;
                    
                }
                &:hover .site-img {
                    opacity: .5;
                    transition: opacity .5s ease;
                }
                
            }
        }//__item
    }
}//work
//contacts
.contacts {
    display: flex;
    min-height: 150px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;
    
    a {
        display: block;        
        width: 40px;
        height: 40px;
        i {
            font-size: 4em;
        }
        &:hover:first-child {
            color: #4a76a8;
        }
        &:hover:nth-child(2) {
            color: dimgrey;
        }
        &:hover:nth-child(3) {
            color: #c1c1c1;
        }
        &:hover:nth-child(4) {
            color: #1da1f2;
        }
    }
}//contacts
.copyright {
    width: 200px;
    margin: 0 auto;
    font-size: 2em;
    font-family: $exo2;
    text-align: center;
    padding: 15px;
    a {
        &:hover {
            color: red;
        }
        
        
    }
}


